@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --breakpoint-sm: 520px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1536px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-antonio: var(--font-antonio);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke-width: 3;
  transition:
    stroke 600ms ease-out,
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #efefef;
  background: transparent;
  opacity: 1;
  margin: 0 4px !important;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 999px;
  background: #efefef;
  border: 1px solid #efefef;
}
